@model SEA_Application.Models.RegisterViewModel
@{
    ViewBag.Title = "Add Student";
}
<link rel="stylesheet" type="text/css" href="css/jquery.datepick.css">
<script type="text/javascript" src="js/jquery.plugin.js"></script>
<script src="~/AdminLTE/selectone.js"></script>
<script src="~/Content/JqueryMultiselect/jquery.multiselect.js"></script>
<link href="~/Content/JqueryMultiselect/jquery.multiselect.css" rel="stylesheet" />


<script>
    $(document).ready(function () {

        $("#PageHeader").html("Add Student");

        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li> <a href="/AspNetUser/StudentsIndex"> Student </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Create</a></li>');

        document.getElementById('DueDate').valueAsDate = new Date();

        $('#cancel').click(function () {
            window.location.href = '@Url.Action("StudentsIndex", "AspNetUser")';
        });

        $("#ClassID").change(function () {

            $("#DiscountInAmount").val(0);

            $("#TotalFee").val("");
            $("#Discount").val(0);
            $("#DiscountPercentage").val(0);
            //  $("#RemainingAmount").val("");


            $("#Discount").val(0);
            $("#RemainingAmount").val(0);
            $("#Fee").val(0);


            //  $('#CalculateFee').click();
            $("#MandatorySubjects").removeAttr('checked');

            var ClassId = $(this).val();

            if (ClassId != "") {

                $.ajax({
                    type: "POST",
                    url: "/Admin_Dashboard/GetSessionFee",
                    data: { "SelectedClassId": ClassId },
                    success: function (data) {


                        $("#SessionFee").val(data);

                    }

                })
            }

        })

        var MandatorySub;
        var AllSub;

        $.ajax({
            type: "POST",
            url: "/AspNetUser/GetRollNumber",
            data: { "userName": 't' },
            success: function (data) {

                if (data.count != null) {
                    //  $('#UserName').val(data)
                    document.getElementsByName('UserName')[0].value = data;

                }
                else {
                    ///       $('#UserName').val(data)
                    document.getElementsByName('UserName')[0].value = data;
                }

            }
        });



        var date = new Date();
        var dd = date.toISOString()
        dd = dd.split("T");

        $("#JoiningDate").val(dd[0]);
        $("#dateAvailable").val(dd[0]);


        $("#subjects option[value='']").remove();

        $('#WithOutNotes').click(function () {
            $('#NotesID').hide();
            $('#NotesAmount').val("");
            $("#TotalFee").val("");
            //alert("Without note");
            //$('#FeeType').append('<option value="PerMonth">PerMonth</option>');
            $("#NotesAmount").prop('required', false);

            $("#DiscountPercentage").val(0);
            $("#Discount").val(0);
            $("#RemainingAmount").val(0);
            $("#Fee").val(0);
            $("#DiscountInAmount").val(0);
        });

        $('#WithNotes').click(function () {

            //$("#FeeType  option[value='PerMonth']").remove();
            $("#NotesAmount").prop('required', true);
            $('#NotesID').show();
            $("#TotalFee").val("");
            $('#NotesAmount').val(16000);
            $("#DiscountPercentage").val(0);
            $("#Discount").val(0);
            $("#RemainingAmount").val(0);
            $("#Fee").val(0);
            $("#DiscountInAmount").val(0);

        });


        $("#DueDate").bind('blur', function () {

            ValidateDueDate();
        });

        function ValidateDueDate() {

            var dob = $("#DueDate").val();
            var dob = dob.split("-");
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (dob[0] >= year) {
                $('#FormSubmit').prop('disabled', false);
                $('#DueDateError').html(" ");

                if (dob[0] == year) {
                    if (dob[1] >= month) {
                        $('#FormSubmit').prop('disabled', false);
                        $('#DueDateError').html(" ");

                        if (dob[1] == month) {
                            if (dob[2] >= day) {
                                $('#FormSubmit').prop('disabled', false);
                                $('#DueDateError').html(" ");
                                return true;
                            } else {
                                $('#FormSubmit').prop('disabled', true);
                                $('#DueDateError').html("DueDate Should be today or greater than today");
                                return false;
                            }
                        } else if (dob[1] < month) {
                            $('#FormSubmit').prop('disabled', true);
                            $('#DueDateError').html("DueDate Should be today or greater than today");
                            return false;

                        }
                    } else {
                        $('#FormSubmit').prop('disabled', true);
                        $('#DueDateError').html("DueDate Should be today or greater than today");
                        return false;
                    }
                }
            } else {
                $('#FormSubmit').prop('disabled', true);
                $('#DueDateError').html("DueDate Should be today or greater than today");
                return false;
            }
        }

        $("#Email").bind('blur', function () {
            var email = $("#Email").val();

            $.ajax({
                type: "POST",
                url: "/AspNetUser/Email",
                data: { "Email": email },
                success: function (data) {
                    console.log(data);
                    if (data == 0) {
                        $('#FormSubmit').prop('disabled', false);
                         $('#Email-Error').html("");
                    }
                    else {
                        $('#Email-Error').html("Email Already taken");
                        $('#FormSubmit').prop('disabled', true);
                    }

                }
            });

        });

        $('input[name="CourseType"]').click(function () {
            debugger;
            $('#SubjectsList').html('');
            $("#ClassID").click();

        })
        $("form").submit(function(){

            var TotalFee  = $("#TotalFee").val();

            if (TotalFee > 0) {

                $("#FormSubmit").attr("disabled", true);

            }
            else
                return false;

        });

        $("input,select").click(function () {

            $("#FormSubmit").attr("disabled", false);

        })

        $("#FeeType").change(function () {
            debugger

            $("#DiscountInAmount").val(0);

            $("#Fee").val(0);
            // $("#FeeType").val(0);
            $("#DiscountPercentage").val(0);
            $("#Discount").val(0);
            $("#RemainingAmount").val(0);

            $("#TotalFee").val("");


        })

        $("#DiscountInPercentageRadio").click(function () {

            $("#DiscountAmountDiv").css('display', 'none');
            $("#DiscountPercentageDiv").css('display', 'block');

            $("#RemainingAmount").val(0);
            $("#TotalFee").val("");
            $("#Discount").val(0);

            $("#DiscountReadOnlyDiv").css('display', 'block');

            $("#DiscountInAmount").val(0);
        })

        $("#DiscountAmountRadio").click(function () {

            $("#DiscountPercentageDiv").css('display', 'none');
            $("#DiscountAmountDiv").css('display', 'block');
            $("#RemainingAmount").val(0);
            $("#TotalFee").val("");
            $("#Discount").val(0);


            $("#DiscountReadOnlyDiv").css('display', 'none');
            $("#DiscountPercentage").val(0);

        })


        $("#ClassID").click(function () {
            debugger;
            //  $("#MandatorySubjects").removeAttr('checked');

            //  alert($("#ClassID").val());

          //  alert("123");
            var selectedClass = $("#ClassID").val();
            var CourseType = $("input[name='CourseType']:checked").val();

            if (selectedClass == "") {
                //    alert("Please select a Class");
            }
            else {

                $.get('@Url.Action("SubjectsByClass")',
                    { id: selectedClass, coursetype: CourseType }, function (data) {

                        // $('#SubjectsList').html('');
                        debugger

                        var MandatorySubjectsList = data.MandatorySubjectsList;
                        var OptionalSubjecsList = data.OptionalSubjectsList;
                        $("#MandatorySubjectsPMS").html('');
                        $("#SubjectPMSGroup1").html('');
                        $("#SubjectPMSGroup2").html('');
                        $("#SubjectPMSGroup3").html('');
                        $("#SubjectPMSGroup4").html('');
                        $("#SubjectPMSGroup5").html('');

                        $("#MandatorySubjectsCSS").html('');
                        $("#SubjectCSSGroup1").html('');
                        $("#SubjectCSSGroup2").html('');
                        $("#SubjectCSSGroup3").html('');
                        $("#SubjectCSSGroup4").html('');
                        $("#SubjectCSSGroup5").html('');
                        $("#SubjectCSSGroup6").html('');
                        $("#SubjectCSSGroup7").html('');

                        if (CourseType == "CSS") {

                            $(".SubjectsBoxesCSS").css('display', 'block');
                            $(".SubjectsBoxesPMS").css('display', 'none');

                            $("#MandatorySubjectsCSS").append('<h3><span style="color:#3C8DBC !important"><b>Mandatory Subjects </b></span></h3>');
                            $("#MandatorySubjectsCSS").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="MandatorySubjectsCSSTableBody"></tbody></table>');
                            $.each(MandatorySubjectsList, function (key, value1) {

                                $("#MandatorySubjectsCSSTableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input class="form-check-input"   type="checkbox" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects0"></td></tr>');

                            })
                            $("#SubjectCSSGroup1").append('<h3><span style="color:#3C8DBC !important"><b>Group 1</b></span>   <label class="form-check-label"><input  type="checkbox" class="CheckboxCSSGroup1"></label></h3>');
                            $("#SubjectCSSGroup2").append('<h3><span style="color:#3C8DBC !important"><b>Group 2</b></span>  </h3>');
                            $("#SubjectCSSGroup3").append('<h3><span style="color:#3C8DBC !important"><b>Group 3</b></span> </h3>');
                            $("#SubjectCSSGroup4").append('<h3><span style="color:#3C8DBC !important"><b>Group 4</b></span>  </h3>');
                            $("#SubjectCSSGroup5").append('<h3><span style="color:#3C8DBC !important"><b>Group 5</b></span> </h3>');
                            $("#SubjectCSSGroup6").append('<h3><span style="color:#3C8DBC !important"><b>Group 6</b></span>  </h3>');
                            $("#SubjectCSSGroup7").append('<h3><span style="color:#3C8DBC !important"><b>Group 7</b></span> </h3>');

                            $("#SubjectCSSGroup1").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup1TableBody"></tbody></table>');
                            $("#SubjectCSSGroup2").append('<table  class="table table-condensed table-hover"><thead><tr><th  class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup2TableBody"></tbody></table>');
                            $("#SubjectCSSGroup3").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup3TableBody"></tbody></table>');
                            $("#SubjectCSSGroup4").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup4TableBody"></tbody></table>');
                            $("#SubjectCSSGroup5").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup5TableBody"></tbody></table>');
                            $("#SubjectCSSGroup6").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup6TableBody"></tbody></table>');
                            $("#SubjectCSSGroup7").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectCSSGroup7TableBody"></tbody></table>');

                            $.each(OptionalSubjecsList, function (key, value1) {

                                if (value1.SubjectGroup == "1") {


                                    $("#SubjectCSSGroup1TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input onclick=' + "group(this,'.CheckboxCSSGroup1')" + ' class="CSSSubjects1" type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects1"></td></tr>');

                                }
                                else if (value1.SubjectGroup == "2") {

                                    $("#SubjectCSSGroup2TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input   onclick=' + "group(this,'.CheckboxCSSGroup2')" + '   type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects2"></td></tr>');

                                }
                                else if (value1.SubjectGroup == "3") {

                                    $("#SubjectCSSGroup3TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  onclick=' + "group(this,'.CheckboxCSSGroup3')" + '  type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects3"></td></tr>');

                                }
                                else if (value1.SubjectGroup == "4") {

                                    $("#SubjectCSSGroup4TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  onclick=' + "group(this,'.CheckboxCSSGroup4')" + '  type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects4"></td></tr>');

                                }
                                else if (value1.SubjectGroup == "5") {

                                    $("#SubjectCSSGroup5TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  onclick=' + "group(this,'.CheckboxCSSGroup5')" + ' type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects5"></td></tr>');

                                }
                                else if (value1.SubjectGroup == "6") {

                                    $("#SubjectCSSGroup6TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input   onclick=' + "group(this,'.CheckboxCSSGroup6')" + ' type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects6"></td></tr>');

                                }
                                else if (value1.SubjectGroup == "7") {

                                    $("#SubjectCSSGroup7TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  onclick=' + "group(this,'.CheckboxCSSGroup7')" + '  type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="CSSSubjects7"></td></tr>');

                                }
                                else {

                                }

                            })

                        }

                        else if (CourseType == "PMS") {

                            $(".SubjectsBoxesCSS").css('display', 'none');

                            $(".SubjectsBoxesPMS").css('display', 'block');

                            $("#MandatorySubjectsPMS").append('<h3><span style="color:#3C8DBC !important"><b>Mandatory Subjects</b></span> </h3>');
                            $("#MandatorySubjectsPMS").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="MandatorySubjectsPMSTableBody"></tbody></table>');
                            $.each(MandatorySubjectsList, function (key, value1) {


                                $("#MandatorySubjectsPMSTableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  type="checkbox" id=' + value1.Id + ' value=' + value1.Id + ' name="PMSSubjects0"></td></tr>');

                            })
                            $("#SubjectPMSGroup1").append('<h3><span style="color:#3C8DBC !important"><b>Group 1</b></span> </h3>');
                            $("#SubjectPMSGroup2").append('<h3><span style="color:#3C8DBC !important"><b>Group 2</b></span></h3>');
                            $("#SubjectPMSGroup3").append('<h3><span style="color:#3C8DBC !important"><b>Group 3</b></span></h3>');
                            $("#SubjectPMSGroup4").append('<h3><span style="color:#3C8DBC !important"><b>Group 4</b></span></h3>');
                            $("#SubjectPMSGroup5").append('<h3><span style="color:#3C8DBC !important"><b>Group 5</b></span></h3>');

                            $("#SubjectPMSGroup1").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectPMSGroup1TableBody"></tbody></table>');
                            $("#SubjectPMSGroup2").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectPMSGroup2TableBody"></tbody></table>');
                            $("#SubjectPMSGroup3").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectPMSGroup3TableBody"></tbody></table>');
                            $("#SubjectPMSGroup4").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectPMSGroup4TableBody"></tbody></table>');
                            $("#SubjectPMSGroup5").append('<table  class="table table-condensed table-hover"><thead><tr><th class="SubjectHeader">Subjects</th><th>Marks</th><th>Select</th></tr></thead><tbody id ="SubjectPMSGroup5TableBody"></tbody></table>');


                            $.each(OptionalSubjecsList, function (key, value1) {

                                if (value1.SubjectGroup == "1") {


                                    $("#SubjectPMSGroup1TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  onclick=' + "group(this,'.CheckboxPMSGroup1')" + ' type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="PMSSubjects1"></td></tr>');


                                }
                                else if (value1.SubjectGroup == "2") {

                                    $("#SubjectPMSGroup2TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input onclick=' + "group(this,'.CheckboxPMSGroup2')" + '  type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="PMSSubjects2"></td></tr>');



                                }
                                else if (value1.SubjectGroup == "3") {

                                    $("#SubjectPMSGroup3TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input onclick=' + "group(this,'.CheckboxPMSGroup3')" + '  type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="PMSSubjects3"></td></tr>');



                                }
                                else if (value1.SubjectGroup == "4") {

                                    $("#SubjectPMSGroup4TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input onclick=' + "group(this,'.CheckboxPMSGroup4')" + '  type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="PMSSubjects4"></td></tr>');



                                }
                                else if (value1.SubjectGroup == "5") {

                                    $("#SubjectPMSGroup5TableBody").append('<tr> <td>' + value1.SubjectName + '</td > <td align="center">'+value1.Points+'</td><td align="center"><input  onclick=' + "group(this,'.CheckboxPMSGroup5')" + ' type="radio" id=' + value1.Id + ' value=' + value1.Id + ' name="PMSSubjects5"></td></tr>');



                                }

                                else {

                                }



                            })

                        }

                    })


            }

        });



        $("#NotesAmount").bind('keyup mouseup', function () {


            $("#DiscountInAmount").val(0);
            $("#RemainingAmount").val(0);
            $("#Discount").val(0);
            $("#TotalFee").val("");
            $("#DiscountPercentage").val(0);

        })


        $("#DiscountPercentage").bind('keyup mouseup', function () {

            $('#FormSubmit').prop('disabled', false);

            $("#DiscountInAmount").val(0);
            $("#RemainingAmount").val("");
            $("#Discount").val(0);
            $("#TotalFee").val("");


            var FeeType = $("#FeeType").val();
            var SessionFee = $("#SessionFee").val();
            var FeeAfterFeeType = $("#Fee").val();

            var DiscountPercentage = $("#DiscountPercentage").val();
            var NotesAmount = $("#NotesAmount").val();
            var DiscountedAmount;
            var TotalFee;

            debugger
            if (NotesAmount == "")
                NotesAmount = 0;

            if ( FeeType !="" &&  FeeAfterFeeType != 0 && DiscountPercentage != 0 && DiscountPercentage>0 ) {

                DiscountedAmount = parseFloat(FeeAfterFeeType) * (parseFloat(DiscountPercentage) / 100);

                var RemainingFeeAfterFeeType = parseFloat(FeeAfterFeeType) - parseFloat(DiscountedAmount);

                var RoundRemainingFeeAfterFeeType = Math.round(RemainingFeeAfterFeeType);

                $("#Discount").val(Math.round( DiscountedAmount));

                $("#RemainingAmount").val(RoundRemainingFeeAfterFeeType);

                TotalFee = parseFloat(RoundRemainingFeeAfterFeeType) + parseFloat(NotesAmount);

                $("#TotalFee").val(TotalFee);

                if (RoundRemainingFeeAfterFeeType < 0) {

                    $('#FormSubmit').prop('disabled', true);
                }
            }
        });


        $("#DiscountInAmount").bind('keyup mouseup', function () {

            $('#FormSubmit').prop('disabled', false);

            $("#RemainingAmount").val(0);
            $("#Discount").val(0);
            $("#TotalFee").val("");
            $("#DiscountPercentage").val(0);

            var FeeType = $("#FeeType").val();
            var SessionFee = $("#SessionFee").val();
            var FeeAfterFeeType = $("#Fee").val();

            //  var DiscountPercentage = $("#DiscountPercentage").val();

            var DiscountInAmount = $("#DiscountInAmount").val();
            var NotesAmount = $("#NotesAmount").val();

            var DiscountedAmount;
            var TotalFee;

            debugger
            if (NotesAmount == "")
                NotesAmount = 0;



            if ( FeeType !="" &&  FeeAfterFeeType != 0 && DiscountInAmount != 0 && DiscountInAmount>0 ) {


                DiscountedAmount = parseFloat(DiscountInAmount);
                var RemainingFeeAfterFeeType = parseFloat(FeeAfterFeeType) - parseFloat(DiscountInAmount);

                var RoundRemainingFeeAfterFeeType = Math.round(RemainingFeeAfterFeeType);

                $("#Discount").val(DiscountedAmount);

                $("#RemainingAmount").val(RoundRemainingFeeAfterFeeType);

                TotalFee = parseFloat(RoundRemainingFeeAfterFeeType) + parseFloat(NotesAmount);

                $("#TotalFee").val(TotalFee);

                if (RoundRemainingFeeAfterFeeType < 0) {

                    $('#FormSubmit').prop('disabled', true);
                }
            }

        })

        $("#UploadImg").change(function () {
            readURL(this);
        });

        $('#cancel').click(function () {
            redirect();
        });

        $("#Password").bind('blur', function () {
            var password = $("#Password").val();

            var patt = new RegExp("^(?=.{6,})(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z])(?=.*[@@#$%^&+=]).*$");
            var test = patt.test(password);

            if (test == false) {
                $('#Password-Error').html("There should be one uppercase, one lowercase, one special chracter('@@#$%^&+=') and one number in password");
                $('#FormSubmit').prop('disabled', true);
            } else {
                $('#FormSubmit').prop('disabled', false);
                $('#Password-Error').html("");
            }
        });

        $("#ConfirmPassword").bind('blur', function () {
            var password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();
            var check = password.localeCompare(ConfirmPassword);

            if (check) {
                $("#ConfirmPassword-Error").html("Password Dosen't match");
                $('#FormSubmit').prop('disabled', true);
            } else {
                $("#ConfirmPassword-Error").html("");
                $('#FormSubmit').prop('disabled', false);
            }
        });

    });

    function redirect() {
        var url = '@Url.Action("TeachersIndex", "AspNetUser")';
        window.location.href = url;
    }

     function checkPhone(phone) {
         var length = phone.value.length;

         if (length == 11) {
             var patt = new RegExp("^[0]+[0-9]{10,}$");
             var test = patt.test(phone.value);
             console.log(test);
             if (test == false) {
                 $('#Phone-Error').html("Phone number is not in correct formate");
                 $('#FormSubmit').prop('disabled', true);
             } else {
                 $('#FormSubmit').prop('disabled', false);
                 $('#Phone-Error').html(" ");
             }
         } else {
             $('#Phone-Error').html("Phone number is not in correct formate");
             $('#FormSubmit').prop('disabled', true);
         }
    }


     function onCancel() {
         $('#cancel').click();
     }
     function onSave() {
         $('#FormSubmit').click();
     }

     function readURL(input) {
         $("#UploadPhotoDiv").hide();
         $("#imgPreview").height("150");
         $("#imgPreview").width("150");

         if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function (e) {
                 $('#imgPreview').attr('src', e.target.result);
             }
             reader.readAsDataURL(input.files[0]);
         }
     }

     function Calc() {


         //   $("#Fee").val(0);
         //   $("#FeeType").val(0);

         $("#DiscountInAmount").val(0);
         $("#DiscountPercentage").val(0);
         $("#Discount").val(0);
         $("#RemainingAmount").val(0);

         //  $("#TotalFee").val("");


         var SessionFee = $("#SessionFee").val();
         var FeeType = $("#FeeType").val();
         //  var Discount = $("#Discount").val();
         var NotesAmount = $("#NotesAmount").val();
         if (SessionFee == "")
             SessionFee = 0;

         //if (Discount == "")
         //       Discount = 0;

         if (NotesAmount == "")
             NotesAmount = 0;
         debugger

         if (FeeType == "Installment" && FeeType != "") {
             $('#Fee').val(parseInt(SessionFee) + 6000 /*+ parseInt(NotesAmount) - parseInt(Discount)*/);
             $('#TotalFee').val(parseInt(SessionFee) + 6000 + parseInt(NotesAmount));

         }
         else if (FeeType == "PerMonth" && FeeType != "") {
             $('#Fee').val(parseInt(SessionFee) + 12000 /*+ parseInt(NotesAmount) - parseInt(Discount)*/);
             $('#TotalFee').val(parseInt(SessionFee) + 12000 + parseInt(NotesAmount));
         }
         else if (FeeType == "FullFee" && FeeType != "") {
             $('#Fee').val(parseInt(SessionFee)  /*+ parseInt(NotesAmount) - parseInt(Discount)*/);
             $('#TotalFee').val(parseInt(SessionFee) + parseInt(NotesAmount));
         }

         else {
             return false;
         }
         $("#DiscountDiv").css('display', 'block');
     }


     function group(a, y) {
         $(y).prop('checked', true);
     }

</script>


@*<div class="row" style="padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
        <button class="btn btn-default pull-left btn-sm" onclick="onCancel()">
            Cancel
        </button>
        <button class="pull-right" style="background-color: transparent; border: none; outline: none; font-size: 20px; color: rgb(89, 89, 89) !important" onclick="onSave()">
            <i class="fa fa-floppy-o"></i>
        </button>
    </div>*@
@*<h2 class="orange">Add Teacher &nbsp; <i class="fa fa-file" aria-hidden="true"></i></h2>*@

<div class="nav-tabs-custom">
    @*<ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Add Teacher</a></li>
            <li><a href="#tab_2" data-toggle="tab">Upload Excel File</a></li>
        </ul>*@

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-5">

                    <div class="tab-content" style="">

                        <div class="tab-pane active" id="tab_1">

                            @using (Html.BeginForm("StudentRegister", "Admin_Dashboard", FormMethod.Post, new { enctype = "multipart/form-data", @class = "forms form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()



                                <div class="row">
                                    <div class="col-md-2 pl-3 pr-5">
                                        <div style="height: 120px;" class="upload-photo border rounded d-flex align-items-center justify-content-center flex-column mb-4">
                                            <a href="#">
                                                <img id="imgPreview" src="~/Content/Images/Upload.png" onclick="$('#UploadImg').click();" />
                                            </a>
                                            <input style="display:none;" id="UploadImg" type="file" name="image" />
                                            <div id="UploadPhotoDiv" class="mt-3">Upload Photo</div>
                                        </div>
                                    </div>

                                    <div class="col-md-5 pl-5 pr-5 border-right border-color-sea">
                                        <h2 class="column-heading mb-4">User Information</h2>

                                        <div class="form-group bmd-form-group is-filled">
                                            <label class="bmd-label-floating" >Name <span class="red-mark">*</span></label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control round-border", @required = "true" })
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Father Name *</label>
                                            <input type="text" class="form-control round-border" id="Father_Name" name="Father_Name">
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Cell No <span class="red-mark">*</span> </label>
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="cellNo" onblur="checkPhone(this)">
                                            <span class="text-danger" id="Phone-Error"></span>
                                        </div>

                                        <div class="form-group bmd-form-group my-3 is-filled">
                                            <label class="bmd-label-floating">Section Timings <span class="red-mark">*</span> </label>
                                            <select name="ClassTimings" class="form-control" style="color: #b9cbe1;">
                                                <option selected="">Select</option>
                                                <option value="Morning">Morning</option>
                                                <option value="Evening">Evening</option>
                                            </select>
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Course Type <span class="red-mark">*</span> </label>
                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="CourseType" id="CssCourse" value="CSS" checked> CSS</label>
                                            </div>

                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="CourseType" id="PmsCourse" value="PMS"> PMS </label>
                                            </div>

                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="CourseType" id="OnePaper" value="OnePaper"> One Paper </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5 pl-5 pr-5 ">
                                        <h2 class="column-heading mb-4">Account Information</h2>

                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Email <span class="red-mark">*</span></label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control round-border" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "Email-Error" })
                                        </div>

                                        <div class="form-group bmd-form-group my-3 is-filled">
                                            <label class="bmd-label-floating">Roll Number <span class="red-mark">*</span></label>
                                            <input type="text" id="UserName" class="form-control round-border" value="0" name="UserName" readonly />
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Password <span class="red-mark">*</span></label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control round-border", Value = "Oa@1234" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @id = "Password-Error" })
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Confirm Password <span class="red-mark">*</span></label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control round-border", Value = "Oa@1234" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @id = "ConfirmPassword-Error" })
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-5 mb-4">

                                <div class="row">
                                    <div class="col-md-5 pl-5 pr-5 ">
                                        <h2 class="column-heading mb-4">Subject Details</h2>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="control-label">Section <span class="red-mark">*</span></label>
                                            @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control", name = "ClassID", @required = true })
                                            <br />
                                            <span style="color:red"> @ViewBag.SubjectsErrorMsg</span>
                                        </div>

                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-5 pl-5 pr-5 border-right border-color-sea">

                                        <div class="form-group SubjectsBoxesCSS" id="MandatorySubjectCss">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="MandatorySubjectsCSS"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesCSS" id="Group3CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup3"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesCSS" id="Group5CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup5"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesCSS" id="Group7CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup7"></div>
                                        </div>

                                        <!--PMS-->
                                        <div class="form-group SubjectsBoxesPMS" id="MandatorySubjectPMS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="MandatorySubjectsPMS"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesPMS" id="Group3PMS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectPMSGroup3"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesPMS" id="Group5PMS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectPMSGroup5"></div>
                                        </div>

                                    </div>

                                    <div class="col-md-5 pl-5 pr-5 ">

                                        <div class="form-group bmd-form-group my-3" id="Group1CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup1"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesCSS" id="Group2CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup2"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesCSS" id="Group4CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup4"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesCSS" id="Group6CSS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectCSSGroup6"></div>
                                        </div>

                                        <!--PMS-->
                                        <div class="form-group SubjectsBoxesPMS" id="Group1PMS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectPMSGroup1"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesPMS" id="Group2PMS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectPMSGroup2"></div>
                                        </div>

                                        <div class="form-group SubjectsBoxesPMS" id="Group4PMS">
                                            <div class="col-md-12 col-md-offset-1 col-lg-offset-1" id="SubjectPMSGroup4"></div>
                                        </div>

                                    </div>
                                </div>


                                <hr class="mt-5 mb-4">

                                <div class="row">
                                    <div class="col-md-5 pl-5 pr-5 border-right border-color-sea">
                                        <h2 class="column-heading mb-4">Fee Details</h2>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Notes Category <span class="red-mark">*</span> </label>

                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="NotesCategory" id="WithOutNotes" value="WithOutNotes" checked> Without Notes</label>
                                            </div>

                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="NotesCategory" id="WithNotes" value="WithNotes"> With Notes </label>
                                            </div>
                                        </div>

                                        <div class="form-group bmd-form-group my-3" style="display:none" id="NotesID">
                                            <label class="bmd-label-floating">Notes Amount <span class="red-mark">*</span></label>
                                            <input type="number" class="form-control round-border" value="0" name="NotesAmount" id="NotesAmount" />
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Session Fee</label>
                                            <input type="text" class="form-control round-border" name="SessionFee" id="SessionFee" value="0" readonly />
                                        </div>

                                        <div class="form-group bmd-form-group my-3 is-filled">
                                            <label class="bmd-label-floating">Fee Type <span class="red-mark">*</span> </label>
                                            <select name="FeeType" id="FeeType" class="form-control" style="color: #b9cbe1;">
                                                <option value="FullFee" selected>Full Fee</option>
                                                <option value="Installment">Installment</option>
                                                <option value="PerMonth">Per Month</option>
                                            </select>
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <button id="CalculateFee" type="button" onclick="Calc()" class="btn btn-primary ">Calculate Fee</button>
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Discount</label>

                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="DiscountRadioGroup" id="DiscountInPercentageRadio" value="DiscountInPercentageRadio" checked> Discount Percentage</label>
                                            </div>

                                            <div class="radio RadioButtonsInline">
                                                <label><input type="radio" name="DiscountRadioGroup" id="DiscountAmountRadio" value="DiscountAmount"> Discount Amount </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5 pl-5 pr-5 ">
                                        <div class="form-group bmd-form-group my-3">
                                            <label class="bmd-label-floating">Fee</label>
                                            <input type="text" required class="form-control round-border" name="Fee" value="0" id="Fee" readonly />
                                        </div>
                                        <div id="DiscountDiv">
                                            <div class="form-group bmd-form-group my-3" id="DiscountPercentageDiv">
                                                <label class="bmd-label-floating">Discount Percentage</label>
                                                <input type="number" value="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control round-border" name="DiscountPercentage" id="DiscountPercentage" />
                                            </div>

                                            <div id="DiscountAmountDiv" class="form-group bmd-form-group my-3" style="display:none">
                                                <label class="bmd-label-floating">Discount Amount</label>
                                                <input type="number" value="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control round-border" name="DiscountInAmount" id="DiscountInAmount" />
                                            </div>

                                            <div class="form-group bmd-form-group my-3">
                                                <label class="bmd-label-floating">Discounted Amount</label>
                                                <input type="number" value="0" class="form-control round-border" name="Discount" id="Discount" readonly />
                                            </div>

                                            <div class="form-group bmd-form-group my-3">
                                                <label class="bmd-label-floating">Remaining Amount</label>
                                                <input type="number" value="0" class="form-control round-border" name="RemainingAmount" id="RemainingAmount" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group bmd-form-group my-3">
                                            <label class="control-label">Total Fee</label>
                                            <input type="text" required class="form-control round-border" name="TotalFee" id="TotalFee" readonly />
                                        </div>

                                        <div class="form-group bmd-form-group my-3 is-filled">
                                            <label class="bmd-label-floating">Due Date <span class="red-mark">*</span> </label>
                                            <input type="date" id="DueDate" name="DueDate" class="form-control" required>
                                        </div>
                                    </div>
                                </div>


                                <hr class="mt-5 mb-4">

                                <button type="submit" id="FormSubmit" class="btn btn-primary pull-right rounded rounded-lg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
                                <button id="cancel" type="button" class="btn btn-primary pull-right rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                                    <i class="material-icons mr-2">cached</i>  Cancel &nbsp; &nbsp;
                                </button>
                                <div class="clearfix"></div>
                            }
                        </div><!--end of tab 1-->
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>
