@model IEnumerable<SEA_Application.Models.AspNetNote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}

<style>
    /*input[type=search] {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 40px;
        height: 30px;
        outline: none;
        padding-left: 10px;
        color: rgb(221, 221, 221);
        margin-top: 0px;
    }*/
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order to Cart</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to place this order?</p>

            </div>
            <div class="modal-footer">
                <button id="yesBtn" type="button" class="btn btn-default yesBtn" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>

<div class="tabsCon">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTabAttr" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="Notes-tab-attr" data-toggle="tab" href="#Notes-attr" role="tab" aria-controls="Notes-attr"
               aria-selected="true">Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Cart-tab-attr" data-toggle="tab" href="#Cart-attr" role="tab" aria-controls="Cart-attr"
               aria-selected="false">Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="RecentOrder-tab-attr" data-toggle="tab" href="#RecentOrder-attr" role="tab" aria-controls="RecentOrder-attr"
               aria-selected="false">Recent Orders</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" id="settings-tab-attr" data-toggle="tab" href="#settings-attr" role="tab" aria-controls="settings-attr"
               aria-selected="false">Settings</a>
        </li>-->
    </ul>


    <div class="card">
        <div class="card-body p-4">
            <div class="tab-content">

                <p>
                </p>
                <div class="tab-pane active show" id="Notes-attr" role="tabpanel" aria-labelledby="Notes-tab-attr">
                    <div class="box box-primary">
                        <div class="box-title"></div>
                        <div class="box-body"><div class="table-responsive">
    <table class="table" id="datatable1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotesType)
                </th>
                <th>
                    Price
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AspNetSubject.SubjectName)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotesType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrandTotal)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetSubject.SubjectName)
                    </td>
                    <td>


                        <a href="/AspNetOrderNotes/Details/@item.EncryptedID">  <button type="button" class="btn btn-success" id="@item.Id">Add to Cart</button> </a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
                            </div>
</div>

                    </div>
                </div>


                <div class="tab-pane" id="Cart-attr" role="tabpanel" aria-labelledby="Cart-tab-attr">
                    <div class="box box-primary">
                        <div class="box-title"></div>
                        <div class="box-body"><div class="table-responsive">
    <table class="table" id="datatable2">
        <thead>
            <tr>

                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Course Type
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
                <th>
                    Status
                </th>
                <th>
                    <input style="display:none" type="checkbox" id="checkBoxToAllChek" name="name" value="" />
                    Select
                </th>

            </tr>
        </thead>



        <tbody id="CartOrders"></tbody>

    </table>
                            </div>
</div>
                    </div>
                    <label style="font-size:15px;color:black">Total  <span id="TotalAmount"> 0.00</span> </label>

                    <br />
                    <button id="ConfirmOrder" disabled class="btn btn-success">Confirm Order</button>
                    <button id="DeleteOrders" disabled class="btn btn-danger">Delete</button>
                </div>


                <div class="tab-pane" id="RecentOrder-attr" role="tabpanel" aria-labelledby="RecentOrder-tab-attr">
                    <div class="box box-primary">
                        <div class="box-title"></div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table" id="datatable3">
                                    <thead>
                                        <tr>
                                            <th>
                                                Order Id
                                            </th>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Course Type
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                            <th>
                                                Status
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody id="RecentOrderTableBody"></tbody>



                                </table>
                                </div>

                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    @*<button id="confirmOrder" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Confirm Order</button>*@
    <script>
        $(document).ready(function () {

            $("#datatable_filter").hide();//var table;

            // $('#example').dataTable({
            // });

            var table;


            $('#datatable1').dataTable({
                buttons: [
                    {
                        //text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                    },
                    {
                        //text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                        //action: function (e, dt, button, config) {
                        //    window.location.href = '';
                        //}
                    },
                    {
                        //text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                    }
                ],
                "language": {
                    "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                        "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                        "  </div>\n" +
                        "  </div>",
                    "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                    "paginate": {
                        "first": "Firstt",
                        "last": "Lastt",
                        "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                        "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                    }
                },
                "searching": true,
                // dom: '<"class">Blfrtip',
                dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                    "<'row'<'col-sm-12 datatablesData'tr>>" +
                    "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
            });

            var table1 = $('#datatable2').dataTable({
                buttons: [
                    {
                        //text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                    },
                    {
                        //text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                        //action: function (e, dt, button, config) {
                        //    window.location.href = '';
                        //}
                    },
                    {
                        //text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                    }
                ],
                "language": {
                    "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                        "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                        "  </div>\n" +
                        "  </div>",
                    "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                    "paginate": {
                        "first": "Firstt",
                        "last": "Lastt",
                        "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                        "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                    }
                },
                "searching": true,
                // dom: '<"class">Blfrtip',
                dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                    "<'row'<'col-sm-12 datatablesData'tr>>" +
                    "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
            });



            var table2 = $('#datatable3').dataTable({
                buttons: [
                    {
                        //text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                    },
                    {
                        //text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                        //action: function (e, dt, button, config) {
                        //    window.location.href = '';
                        //}
                    },
                    {
                        //text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                    }
                ],
                "language": {
                    "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                        "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                        "  </div>\n" +
                        "  </div>",
                    "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                    "paginate": {
                        "first": "Firstt",
                        "last": "Lastt",
                        "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                        "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                    }
                },
                "searching": true,
                // dom: '<"class">Blfrtip',
                dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                    "<'row'<'col-sm-12 datatablesData'tr>>" +
                    "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
            });




            //table = $('#datatable').dataTable();

            //var table1;
            //table1 = $('#datatable1').dataTable();

            $.ajax({

                type: "POST",
                url: "/AspNetOrderNotes/RecentOrders",
                data: {},
                success: function (data) {

                    table1.fnClearTable();
                    $.each(data, function (index) {

                        //    var TableRow = "<tr><td>" + data[index].Title + "</td> <td>" + data[index].Discription + "</td>  <td>" + data[index].CourseType + "</td> <td>" + data[index].Price + "</td>  <td>" + data[index].Quantity + "</td><td>" + data[index].Status + "</td> <td id='btnid'><button data-toggle='modal' data-target='#myModal' style='display:none'  class='CancelOrderBtn btn btn-danger' id='" + data[index].Id + "' >Cancel Order</button></td>    </tr> "

                        //                    table1.fnAddData(["<input class='checkboxes' id=" + data[index].Id + " type='checkbox' value=" + data[index].Total + "  >", data[index].Title, data[index].Discription, data[index].CourseType, data[index].Price, data[index].Quantity, data[index].Total, data[index].Status]);
                        table1.fnAddData([data[index].OrderId, data[index].Title, data[index].Discription, data[index].CourseType, data[index].Price, data[index].Quantity, data[index].Status]);

                        //$('#RecentOrderTableBody').append(TableRow);
                    });


                    table1.fnDraw();
                    $('.eeniart0017').css("display", "none");

                }


            })


            $.ajax({

                type: "POST",
                url: "/AspNetOrderNotes/CartOrders",
                data: {},
                success: function (data) {


                    table.fnClearTable();
                    $.each(data, function (index) {

                        if (data[index].Status == "Draft") {

                            // var TableRow = "<tr>  <td> <input class='checkboxes' id=" + data[index].Id + "  type='checkbox' value=" + data[index].Total + "> </td>  <td>" + data[index].Title + "</td> <td>" + data[index].Discription + "</td>  <td>" + data[index].CourseType + "</td> <td>" + data[index].Price + "</td>  <td>" + data[index].Quantity + "</td> <td class='TotalPrice'>" + data[index].Total + "</td>  <td>" + data[index].Status + "</td>    </tr> "
                            table.fnAddData([data[index].Title, data[index].Discription, data[index].CourseType, data[index].Price, data[index].Quantity, data[index].Total, data[index].Status, "<input class='checkboxes' id=" + data[index].Id + " type='checkbox' value=" + data[index].Total + "  >"]);


                        }


                        //alert(data[index].Discription);
                        // $('#CartOrders').append(TableRow);
                    });
                    table.fnDraw();
                    $('.eeniart0017').css("display", "none");
                }
            })//end of ajax card orders


            var Total = 0;
            var arr = [];
            var CheckAllCheckBoxes = 0;
            $("#CartOrders").on("click", "input[type='checkbox']", function () {
                debugger


                if ($(this).prop("checked") == true) {

                    Total = Total + parseInt($(this).val());

                    arr.push(parseInt($(this).attr('id')));

                    CheckAllCheckBoxes = CheckAllCheckBoxes + 1;
                    checkCheckBoxes();

                }
                else {

                    Total = Total - parseInt($(this).val());
                    var itemtoRemove = $(this).attr('id');

                    arr.splice($.inArray(itemtoRemove, arr), 1);


                    CheckAllCheckBoxes = CheckAllCheckBoxes - 1;

                    checkCheckBoxes();

                }

                $("#TotalAmount").text(Total);
                //  alert(arr);
            });

            function checkCheckBoxes() {
                if (CheckAllCheckBoxes == 0) {

                    $("#ConfirmOrder").attr("disabled", true);
                    $("#DeleteOrders").attr("disabled", true);
                }
                else {
                    $("#ConfirmOrder").attr("disabled", false);
                    $("#DeleteOrders").attr("disabled", false);

                }
            }


            $("#DeleteOrders").click(function () {

                $.ajax({

                    type: "POST",
                    url: "/AspNetOrderNotes/DeleteOrders",
                    data: { "DeleteOrders": arr },


                    success: function (data) {

                        //$("#tab2").trigger('click');
                        window.location.href = '/AspNetOrderNotes/Index/';



                        // $('#example').dataTable().clear();

                        //   $('#example').data.reload();
                    }

                })

            })


            $("#ConfirmOrder").click(function () {

                var TotalAmount = Total;

                $.ajax({

                    type: "POST",
                    url: "/AspNetOrderNotes/ConfirmOdr",
                    data: { "TotalAmount": TotalAmount, "IDs": arr },
                    success: function (data) {




                        window.location.href = '/AspNetOrderNotes/Index/';

                    }

                })


            })

            $("#RecentOrderTableBody").on("click", "button", function () {

                //alert( $(this).attr('id'));

                var OdrId = $(this).attr('id');


                $(".yesBtn").attr('name', OdrId);

                //$.ajax({

                //    type: "POST",
                //    url: "/AspNetOrderNotes/CancelOrder",
                //    data: { "OrderId": OdrId },
                //    success: function (data) {


                //    }

                // });



            });

            $("#checkBoxToAllChek").click(function () {

                $('#CartOrders input[type="checkbox"]').prop('checked', this.checked);

            });


            $("#yesBtn").click(function () {

                //  alert( $("#yesBtn").attr('name'));

                var OdrId = $("#yesBtn").attr('name')



                $.ajax({

                    type: "POST",
                    url: "/AspNetOrderNotes/CancelOrder",
                    data: { "OrderId": OdrId },
                    success: function (data) {



                        // $('button[id="'+OdrId+'"]').prop('disabled', true);


                        window.location.href = '/AspNetOrderNotes/Index/';




                    }

                });

            })
        })


    </script>
