@model SEA_Application.Models.AspNetUser
@{
    ViewBag.Title = "Edit Teacher:";
}

<script>
    $(document).ready(function () {

        $("#PageHeader").html("View Teacher");

        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li> <a href="/AspNetUser/TeachersIndex"> Teacher </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Detail</a></li>');

        $('input').attr('readonly', 'readonly');
        $('select').attr('readonly', 'readonly');
    });

    function Redirect() {
        window.location.href = "TeacherIndex";
    }
    function redirectToEdit() {
        var id = $("#ID").val();
        window.location.href = "EditTeacher?id=" + id;
    }
    function DISABLE() {
        $("#myModal1").modal('show');
    }
    function cnfmDisable() {
        var id = $("#ID").val();
        window.location.href = "/AspNetUser/Delete?id=" + id + "&type=Teacher";
    }
    function Enable() {
        var id = $("#ID").val();
        window.location.href = "/AspNetUser/Enable?id=" + id + "&type=Teacher";
    }

</script>

@*<label>@Html.ActionLink("Home", "Dashboard", "Account") > @Html.ActionLink("Teacher", "TeachersIndex", "AspNetUser") > <a href="#">Detail</a></label>*@

@*<h4 class="orange">Teacher Detail</h4>*@
<input type="hidden" value="@Model.Id" id="ID" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">

                <div class="row">
                    <div class="col-md-2 pl-3 pr-5">
                        <div style="height: 120px;" class="upload-photo border rounded d-flex align-items-center justify-content-center flex-column mb-4">
                            <a href="#">
                                <img id="imgPreview" src="~/Content/Images/StudentImages/@Model.Image" height="150" width="150" />
                            </a>
                            <input style="display:none;" id="UploadImg" type="file" name="image" />
                            @*<div id="UploadPhotoDiv" class="mt-3">Upload Photo</div>*@
                        </div>
                    </div>

                    <div class="col-md-5 pl-5 pr-5 border-right border-color-sea">
                        <h2 class="column-heading mb-4">User Information</h2>

                        <div class="form-group bmd-form-group is-filled">
                            <label class="bmd-label-floating">Name <span class="red-mark">*</span></label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control round-border" })
                        </div>

                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">User Name *</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control round-border" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", @id = "UserName-Error" })
                        </div>
                    </div>

                    <div class="col-md-5 pl-5 pr-5 ">
                        @*<h2 class="column-heading mb-4">Personal Information</h2>

                        <div class="form-row mt-4">
                            <div class="form-group col-md-12 bmd-form-group">
                                <label for="" class="bmd-label-static pl-2">Section *</label>
                                @Html.DropDownList("ClassID", (IEnumerable<SelectListItem>)ViewBag.ClassList, "", new { @class = "form-control text_box_style" })
                            </div>
                        </div>*@

                        <h2 class="column-heading mb-4">Contact Details</h2>

                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Mailing Address </label>
                            <input type="text" class="form-control round-border" value="@ViewBag.TeacherDetail.MailingAddress" id="inputEmail3" name="mailingAddress">
                        </div>

                        <div class="form-group bmd-form-group is-filled">
                            <label class="bmd-label-floating">Email <span class="red-mark">*</span></label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control round-border" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "Email-Error" })
                        </div>

                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Cell No <span class="red-mark">*</span> </label>
                            <input type="text" class="form-control round-border" id="inputEmail3" name="cellNo" value="@Model.PhoneNumber">
                            <span class="text-danger" id="Phone-Error"></span>
                        </div>


                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Land Line No </label>
                            <input type="text" class="form-control round-border" id="inputEmail3" name="landLine" value="@ViewBag.TeacherDetail.Landline">
                        </div>
                    </div>
                </div>

                <hr class="mt-5 mb-4">

                
                    <button type="button" id="back" class="btn btn-default pull-right rounded rounded-lg bg-transparent text-muted" onclick="Redirect()">Back</button>

                    <button type="button" id="edit" class="btn btn-primary pull-right rounded rounded-lg" onclick="redirectToEdit()">Edit</button>

                    @if (Model.Status == "False")
                    {
                        <button type="button" id="enable" class="btn btn-success pull-right rounded rounded-lg" onclick="Enable()">Enable</button>
                    }
                    else
                    {
                        <button type="button" id="disable" class="btn btn-danger pull-right rounded rounded-lg" onclick="DISABLE()">Disable</button>
                    }
                

                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Disable</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Do you really want to disable this Teacher?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cnfmDisable()">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


                
