<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        OA | Best Acadmey for CSS
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!--    <link href="../assets/demo/demo.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <style>
        table.dataTable.hover tbody tr:hover,
        table.dataTable.display tbody tr:hover {
            background-color: #F2F5FA;
            cursor: pointer;
        }

        .footer {
            padding: 0.9375rem 0;
            text-align: center;
            padding: 25px;
            display: -webkit-flex;
            display: flex;
        }



        .hidden {
            display: none !important;
        }

        .Floating_label {
            background: white;
            margin-left: 0.5rem;
            border-left: 4px solid white;
            border-right: 4px solid white;
            transform: translateY(-1.75rem);
            top: 1.3rem;
            color: #AAAAAA;
        }

        .Floating_text {
            border: 2px solid #00b8ec;
            border-radius: 0.3rem;
        }

        #Notification_Dropdown_Area {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
    </style>

</head>


<body class="">

    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <div class="wrapper ">
        <!--SIDEBAR-->
        <div class="sidebar" data-color="azure" data-background-color="azure">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo d-flex" style="background-color:white !important;">
                <a class="simple-text logo-normal" href="#" style="flex: 3;">
                    <img class="transparent" alt="" src="~/Content/assets/assets/img/orignal.png" height="143" width="143">
                </a>
                <a class="simple-text collapseSide hidden" onclick="collapseSide(this);" href="#" style="flex: 1;">
                    <img class="transparent" alt="" src="~/Content/assets/img/sidebar.png">
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    @*<li class="nav-item  ">
                    <a href="@(Url.Action("View_LessonPlan", "AspNetLessonPlan"))">
                        <i class="fa fa-graduation-cap"></i>
                        <span class="title">LessonPlan</span>
                    </a>
                </li>*@

                    @*<li class="nav-item  " id="Item34">
                    <a href="@(Url.Action("Index", "AspNetProject"))">
                        <i class="fa fa-product-hunt"></i>
                        <span class="title">Topics Course Study Material</span>
                    </a>
                </li>*@
                    @*<li class="nav-item  ">
                    <a href="@(Url.Action("Index", "AspNetStudentPerformanceReport"))">
                        <i class="fa fa-bullhorn"></i>
                        <span class="title">Progress Report</span>
                    </a>
                </li>*@
                    @*<li class="nav-item" id="Item35">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="fa fa-list-ul"></i>
                        <span class="title">Subjects</span>
                    </a>

                    <ul class="sub-menu" style="z-index:10000">
                        <li class="nav-item  ">
                            <a href="@(Url.Action("Teacher_Subject","Teacher_Dashboard"))">
                                <i class="fa fa-circle-o"></i>
                                <span class="title">View Subjects</span>
                            </a>
                        </li>

                        <li class="nav-item  ">
                            <a href="@(Url.Action("Topics", "Teacher_Dashboard"))">
                                <i class="fa fa-circle-o"></i>
                                <span class="title">Manage Topics</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
                    @*<li class="nav-item  ">
                    <a href="@(Url.Action("Index", "AspNetHomeworks"))">
                        <i class="fa fa-database"></i>
                        <span class="title">Diary</span>
                    </a>
                </li>*@


                    <li class="nav-item active hidden">
                        <a href="@(Url.Action("View_Attendance", "Teacher_Dashboard"))" class="nav-link nav-toggle">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p id="">Teacher Attendance </p>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a href="@(Url.Action("Index", "TeacherCommentsOnCourses"))" class="nav-link nav-toggle">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p>Courses</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("StudentAssignments", "StudentAssignmentSubmitted")" class="nav-link nav-toggle">

                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p>Student Assignments</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                    <a href="@Url.Action("ViewTopicsAndLessons", "AspnetSubjectTopics")" class="nav-link nav-toggle">

                        <i class="sea-dash">
                            <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                        </i>
                        <p>Topics & Lessons</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ViewQuestionAndQuiz", "AspnetQuestions")" class="nav-link nav-toggle">
                        <i class="sea-dash">
                            <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                        </i>
                        <p>Questions & Quizs</p>
                    </a>
                </li>*@

                    <li class="nav-item">
                        <a href="@Url.Action("StudentLessonTracking", "StudentAssignmentSubmitted")" class="nav-link nav-toggle">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p>Student Lessons Tracking</p>
                        </a>
                    </li>


                    <li class="nav-item hidden">
                        <a href="@(Url.Action("Inbox", "AspNetMessages"))" class="nav-link nav-toggle">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p>Mail Box </p>
                        </a>
                    </li>


                    <li class="nav-item hidden">
                        <a href="https://smartereduanalytics.on.spiceworks.com/portal/tickets" class="nav-link nav-toggle">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p>Support</p>
                        </a>
                    </li>



                    @*<li class="nav-item" id="studenttopic">
                    <a href="@Url.Action("Index", "AspnetSubjectTopics")" class="nav-link nav-toggle">
                        <i class="fa fa-list-ul"></i>
                        <span class="title">Topic</span>
                    </a>
                </li>
                <li class="nav-item" id="studentlesson">
                    <a href="@Url.Action("Index", "AspnetLessons")" class="nav-link nav-toggle">
                        <i class="fa fa-leaf"></i>
                        <span class="title">Lesson</span>
                    </a>
                </li>*@

                    @*<li class="nav-item" id="studentQuestionAnswer">
                    <a href="@Url.Action("Index", "AspnetQuestions")" class="nav-link nav-toggle">
                        <i class="fa fa-book"></i>
                        <span class="title">Questions Answers</span>
                    </a>
                </li>



                <li class="nav-item" id="TestQuestions">
                    <a href="@Url.Action("TestQuestions", "AspnetQuestions")" class="nav-link nav-toggle">
                        <i class="fa fa-book"></i>
                        <span class="title">Test Questions</span>
                    </a>
                </li>*@

                    @*<li class="nav-item" id="studentQuiz">
                    <a href="@Url.Action("Index", "AspnetQuizs")" class="nav-link nav-toggle">
                        <i class="fa fa-pencil-square-o"></i>
                        <span class="title">Quiz</span>
                    </a>
                </li>*@

                    @*<li class="nav-item  ">
                    <a href="@(Url.Action("Teacher_Announcement", "Teacher_Dashboard"))">
                        <i class="fa fa-bullhorn"></i>
                        <span class="title">Announcement</span>
                    </a>
                </li>

                <li class="nav-item  ">
                    <a href="@(Url.Action("Attendance", "Teacher_Dashboard"))">
                        <i class="fa fa-list-ol"></i>
                        <span class="title">Student Attendance</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="@(Url.Action("ParentTeacherMeeting", "Teacher_Dashboard"))">
                        <i class="fa fa-users"></i>
                        <span class="title">Parent Teacher Meeting</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="fa fa-book"></i>
                        <span class="title">Assessment</span>
                    </a>

                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="@(Url.Action("Subject_Assessment","Teacher_Dashboard"))">
                                <i class="fa fa-circle-o"></i>
                                <span class="title">Subject Assessment</span>
                            </a>
                        </li>

                        <li class="nav-item  ">
                            <a href="@(Url.Action("Class_Assessment", "Teacher_Dashboard"))">
                                <i class="fa fa-circle-o"></i>
                                <span class="title">Class Assessment</span>
                            </a>
                        </li>
                    </ul>
                </li>*@



                </ul>
            </div>
        </div>
        <!--END SIDEBAR-->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top px-4">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="bread-crumbs">
                            <ul>
                                @*<li class="active"><a href="#"></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <div class="timeCon">
                            <div class="d-flex">
                                <div class="timeYearDayCon">
                                    <div class="timeYear">Year</div>
                                    <div class="timeDay">Day, 00 Mon</div>
                                </div>
                                <div class="timeTimeCon">
                                    00:00
                                </div>
                                <div class="timeAMPM">
                                    <div class="timeAM">AM</div>
                                    <div class="timePM">PM</div>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                    <i class="fa fa-bell-o"></i>
                                    <span id="Notification_Numbers" class="label label-warning"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li id="Notification_Header" class="header"></li>

                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu" id="Notification_Dropdown_Area"></ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form_padding_20" }))
                            {
                                @Html.AntiForgeryToken()
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="sea-icons-nav">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26.287" height="26" viewBox="0 0 26.287 26">
                                                <defs>
                                                    <style>
                                                        .prefix__cls-1 {
                                                            fill: none;
                                                            stroke: #afbccc;
                                                            stroke-linecap: round;
                                                            stroke-linejoin: round;
                                                            stroke-width: 2px;
                                                        }
                                                    </style>
                                                </defs>
                                                <g id="prefix__Icon-logout" transform="translate(-1953.312 -668.03)">
                                                    <path id="prefix__Path_366" d="M1969.349 672.228a3.123 3.123 0 0 0-3.042-3.2h-8.953a3.121 3.121 0 0 0-3.042 3.2v17.6a3.121 3.121 0 0 0 3.042 3.2h8.953a3.123 3.123 0 0 0 3.042-3.2" class="prefix__cls-1" data-name="Path 366" />
                                                    <path id="prefix__Path_367" d="M1973.685 685.944l4.914-4.914-4.914-4.914" class="prefix__cls-1" data-name="Path 367" />
                                                    <path id="prefix__Line_1" d="M15.373 0L0 0" class="prefix__cls-1" data-name="Line 1" transform="translate(1963.028 681.03)" />
                                                </g>
                                            </svg>
                                        </i>
                                        <span class="d-lg-inline-block d-md-inline-block">
                                            Logout

                                        </span>
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link p-0" href="javascript:;" id="navbarDropdownProfile"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div id="theDiv"><img id="theImg" src="" /></div>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="/Manage/Index">Security</a>
                                    <a class="dropdown-item hidden" href="#">Privacy</a>
                                    <div class="dropdown-divider hidden"></div>
                                    <a class="dropdown-item hidden" href="#">Settings</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pageHeading">
                                <div class="row">
                                    <div class="col-sm-12 col-md-5 col-lg-5">

                                        <h1 id="PageHeader" class="float-left"></h1>

                                    </div>
                                    <div class="col-sm-12 col-md-7 col-lg-7 hidden" id="generic_div">
                                        <button type="button" class="btn btn-primary pull-right rounded rounded-lg createBtn" id="GenericCreate">Create</button>
                                        <input type="text" placeholder="Type Keyword" id="global_filter" class="searchBox pull-right pl-4 p-2 pull-right rounded rounded-lg   mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            @RenderBody()


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <!-- Plugin for the momentJs  -->
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Content/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Content/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
    <!-- Chartist JS -->
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    @*<script src="~/Content/assets/demo/demo.js"></script>_*@
    <script src="~/Content/assets/js/lesson.js"></script>



    <!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">-->
    <!--<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>-->
    <!--<script src="https://cdn.datatables.net/buttons/1.10.20/js/buttons.flash.min.js" type="text/javascript"></script>-->
    <!--<script src="https://cdn.datatables.net/buttons/1.10.20/js/dataTables.buttons.min.js" type="text/javascript"></script>-->

    <link href='~/Content/assets/packages/core/main.css' rel='stylesheet' />
    <link href='~/Content/assets/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/Content/assets/packages/timegrid/main.css' rel='stylesheet' />
    <link href='~/Content/assets/packages/list/main.css' rel='stylesheet' />
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -12px;
            /*margin-left: -33px;*/
        }
        /*!
            * FullCalendar v3.9.0
            * Docs & License: https://fullcalendar.io/
            * (c) 2020 Adam Shaw
            */
        .fc button,
        .fc table,
        body .fc {
            font-size: 1em;
        }

        .fc-bg,
        .fc-row .fc-bgevent-skeleton,
        .fc-row .fc-highlight-skeleton {
            bottom: 0;
        }

        .fc-icon,
        .fc-unselectable {
            -webkit-touch-callout: none;
            -khtml-user-select: none;
        }

        .fc {
            direction: ltr;
            text-align: left;
        }

        .fc-rtl {
            text-align: right;
        }

        .fc th,
        .fc-basic-view td.fc-week-number,
        .fc-icon,
        .fc-toolbar {
            text-align: center;
        }

        .fc-highlight {
            background: #bce8f1;
            opacity: .3;
        }

        .fc-bgevent {
            background: #8fdf82;
            opacity: .3;
        }

        .fc-nonbusiness {
            background: #d7d7d7;
        }

        .fc button {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            height: 2.1em;
            padding: 0 .6em;
            white-space: nowrap;
            cursor: pointer;
        }

            .fc button::-moz-focus-inner {
                margin: 0;
                padding: 0;
            }

        .fc-state-default {
            border: 1px solid;
            background-color: #f5f5f5;
            background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
            background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
            background-image: -o-linear-gradient(top, #fff, #e6e6e6);
            background-image: linear-gradient(to bottom, #fff, #e6e6e6);
            background-repeat: repeat-x;
            border-color: #e6e6e6 #e6e6e6 #bfbfbf;
            border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
            color: #333;
            text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
        }

            .fc-state-default.fc-corner-left {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .fc-state-default.fc-corner-right {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

        .fc button .fc-icon {
            position: relative;
            top: -.05em;
            margin: 0 .2em;
            vertical-align: middle;
        }

        .fc-state-active,
        .fc-state-disabled,
        .fc-state-down,
        .fc-state-hover {
            color: #333;
            background-color: #e6e6e6;
        }

        .fc-state-hover {
            color: #333;
            text-decoration: none;
            background-position: 0 -15px;
            -webkit-transition: background-position .1s linear;
            -moz-transition: background-position .1s linear;
            -o-transition: background-position .1s linear;
            transition: background-position .1s linear;
        }

        .fc-state-active,
        .fc-state-down {
            background-color: #ccc;
            background-image: none;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
        }

        .fc-state-disabled {
            cursor: default;
            background-image: none;
            opacity: .65;
            box-shadow: none;
        }

        .fc-event.fc-draggable,
        .fc-event[href],
        .fc-popover .fc-header .fc-close,
        a[data-goto] {
            cursor: pointer;
        }

        .fc-button-group {
            display: inline-block;
        }

        .fc .fc-button-group > * {
            float: left;
            margin: 0 0 0 -1px;
        }

        .fc .fc-button-group > :first-child {
            margin-left: 0;
        }

        .fc-popover {
            position: absolute;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
        }

            .fc-popover .fc-header {
                padding: 2px 4px;
            }

                .fc-popover .fc-header .fc-title {
                    margin: 0 2px;
                }

        .fc-ltr .fc-popover .fc-header .fc-title,
        .fc-rtl .fc-popover .fc-header .fc-close {
            float: left;
        }

        .fc-ltr .fc-popover .fc-header .fc-close,
        .fc-rtl .fc-popover .fc-header .fc-title {
            float: right;
        }

        .fc-divider {
            border-style: solid;
            border-width: 1px;
        }

        hr.fc-divider {
            height: 0;
            margin: 0;
            padding: 0 0 2px;
            border-width: 1px 0;
        }

        .fc-bg table,
        .fc-row .fc-bgevent-skeleton table,
        .fc-row .fc-highlight-skeleton table {
            height: 100%;
        }

        .fc-clear {
            clear: both;
        }

        .fc-bg,
        .fc-bgevent-skeleton,
        .fc-helper-skeleton,
        .fc-highlight-skeleton {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        .fc table {
            width: 100%;
            box-sizing: border-box;
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .fc td,
        .fc th {
            border-style: solid;
            border-width: 1px;
            padding: 0;
            vertical-align: top;
        }

            .fc td.fc-today {
                border-style: double;
            }

        a[data-goto]:hover {
            text-decoration: underline;
        }

        .fc .fc-row {
            border-style: solid;
            border-width: 0;
        }

        .fc-row table {
            border-left: 0 hidden transparent;
            border-right: 0 hidden transparent;
            border-bottom: 0 hidden transparent;
        }

        .fc-row:first-child table {
            border-top: 0 hidden transparent;
        }

        .fc-row {
            position: relative;
        }

            .fc-row .fc-bg {
                z-index: 1;
            }

            .fc-row .fc-bgevent-skeleton td,
            .fc-row .fc-highlight-skeleton td {
                border-color: transparent;
            }

            .fc-row .fc-bgevent-skeleton {
                z-index: 2;
            }

            .fc-row .fc-highlight-skeleton {
                z-index: 3;
            }

            .fc-row .fc-content-skeleton {
                position: relative;
                z-index: 4;
                padding-bottom: 2px;
            }

            .fc-row .fc-helper-skeleton {
                z-index: 5;
            }

        .fc .fc-row .fc-content-skeleton table,
        .fc .fc-row .fc-content-skeleton td,
        .fc .fc-row .fc-helper-skeleton td {
            background: 0 0;
            border-color: transparent;
        }

        .fc-row .fc-content-skeleton td,
        .fc-row .fc-helper-skeleton td {
            border-bottom: 0;
        }

        .fc-row .fc-content-skeleton tbody td,
        .fc-row .fc-helper-skeleton tbody td {
            border-top: 0;
        }

        .fc-scroller {
            -webkit-overflow-scrolling: touch;
        }

        .fc-icon,
        .fc-row.fc-rigid,
        .fc-time-grid-event {
            overflow: hidden;
        }

        .fc-scroller > .fc-day-grid,
        .fc-scroller > .fc-time-grid {
            position: relative;
            width: 100%;
        }

        .fc-event {
            position: relative;
            display: block;
            font-size: .85em;
            line-height: 1.3;
            border-radius: 3px;
            border: 1px solid #3a87ad;
        }

        .fc-event,
        .fc-event-dot {
            background-color: #3a87ad;
        }

            .fc-event,
            .fc-event:hover {
                color: #fff;
                text-decoration: none;
            }

        .fc-not-allowed,
        .fc-not-allowed .fc-event {
            cursor: not-allowed;
        }

        .fc-event .fc-bg {
            z-index: 1;
            background: #fff;
            opacity: .25;
        }

        .fc-event .fc-content {
            position: relative;
            z-index: 2;
        }

        .fc-event .fc-resizer {
            position: absolute;
            z-index: 4;
            display: none;
        }

        .fc-event.fc-allow-mouse-resize .fc-resizer,
        .fc-event.fc-selected .fc-resizer {
            display: block;
        }

            .fc-event.fc-selected .fc-resizer:before {
                content: "";
                position: absolute;
                z-index: 9999;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                margin-left: -20px;
                margin-top: -20px;
            }

        .fc-event.fc-selected {
            z-index: 9999 !important;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        }

            .fc-event.fc-selected.fc-dragging {
                box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
            }

        .fc-h-event.fc-selected:before {
            content: "";
            position: absolute;
            z-index: 3;
            top: -10px;
            bottom: -10px;
            left: 0;
            right: 0;
        }

        .fc-ltr .fc-h-event.fc-not-start,
        .fc-rtl .fc-h-event.fc-not-end {
            margin-left: 0;
            border-left-width: 0;
            padding-left: 1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .fc-ltr .fc-h-event.fc-not-end,
        .fc-rtl .fc-h-event.fc-not-start {
            margin-right: 0;
            border-right-width: 0;
            padding-right: 1px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .fc-ltr .fc-h-event .fc-start-resizer,
        .fc-rtl .fc-h-event .fc-end-resizer {
            cursor: w-resize;
            left: -1px;
        }

        .fc-ltr .fc-h-event .fc-end-resizer,
        .fc-rtl .fc-h-event .fc-start-resizer {
            cursor: e-resize;
            right: -1px;
        }

        .fc-h-event.fc-allow-mouse-resize .fc-resizer {
            width: 7px;
            top: -1px;
            bottom: -1px;
        }

        .fc-h-event.fc-selected .fc-resizer {
            border-radius: 4px;
            border-width: 1px;
            width: 6px;
            height: 6px;
            border-style: solid;
            border-color: inherit;
            background: #fff;
            top: 50%;
            margin-top: -4px;
        }

        .fc-ltr .fc-h-event.fc-selected .fc-start-resizer,
        .fc-rtl .fc-h-event.fc-selected .fc-end-resizer {
            margin-left: -4px;
        }

        .fc-ltr .fc-h-event.fc-selected .fc-end-resizer,
        .fc-rtl .fc-h-event.fc-selected .fc-start-resizer {
            margin-right: -4px;
        }

        .fc-day-grid-event {
            margin: 1px 2px 0;
            padding: 0 1px;
        }

        tr:first-child > td > .fc-day-grid-event {
            margin-top: 2px;
        }

        .fc-day-grid-event.fc-selected:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            background: #000;
            opacity: .25;
        }

        .fc-day-grid-event .fc-content {
            white-space: nowrap;
            overflow: hidden;
        }

        .fc-day-grid-event .fc-time {
            font-weight: 700;
        }

        .fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer,
        .fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
            margin-left: -2px;
        }

        .fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer,
        .fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
            margin-right: -2px;
        }

        a.fc-more {
            margin: 1px 3px;
            font-size: .85em;
            cursor: pointer;
            text-decoration: none;
        }

            a.fc-more:hover {
                text-decoration: underline;
            }

        .fc.fc-bootstrap3 a,
        .ui-widget .fc-event {
            text-decoration: none;
        }

        .fc-limited {
            display: none;
        }

        .fc-icon,
        .fc-toolbar .fc-center {
            display: inline-block;
        }

        .fc-day-grid .fc-row {
            z-index: 1;
        }

        .fc-more-popover {
            z-index: 2;
            width: 220px;
        }

            .fc-more-popover .fc-event-container {
                padding: 10px;
            }

        .fc-bootstrap3 .fc-popover .panel-body,
        .fc-bootstrap4 .fc-popover .card-body {
            padding: 0;
        }

        .fc-now-indicator {
            position: absolute;
            border: 0 solid red;
        }

        .fc-bootstrap3 .fc-today.alert,
        .fc-bootstrap4 .fc-today.alert {
            border-radius: 0;
        }

        .fc-unselectable {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        .fc-unthemed .fc-content,
        .fc-unthemed .fc-divider,
        .fc-unthemed .fc-list-heading td,
        .fc-unthemed .fc-list-view,
        .fc-unthemed .fc-popover,
        .fc-unthemed .fc-row,
        .fc-unthemed tbody,
        .fc-unthemed td,
        .fc-unthemed th,
        .fc-unthemed thead {
            border-color: #ddd;
        }

        .fc-unthemed .fc-popover {
            background-color: #fff;
            border-width: 1px;
            border-style: solid;
        }

            .fc-unthemed .fc-divider,
            .fc-unthemed .fc-list-heading td,
            .fc-unthemed .fc-popover .fc-header {
                background: #eee;
            }

        .fc-unthemed td.fc-today {
            background: #fcf8e3;
        }

        .fc-unthemed .fc-disabled-day {
            background: #d7d7d7;
            opacity: .3;
        }

        .fc-icon {
            height: 1em;
            line-height: 1em;
            font-size: 1em;
            font-family: "Courier New", Courier, monospace;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .fc-icon:after {
                position: relative;
            }

        .fc-icon-left-single-arrow:after {
            content: "\2039";
            font-weight: 700;
            font-size: 200%;
            top: -7%;
        }

        .fc-icon-right-single-arrow:after {
            content: "\203A";
            font-weight: 700;
            font-size: 200%;
            top: -7%;
        }

        .fc-icon-left-double-arrow:after {
            content: "\AB";
            font-size: 160%;
            top: -7%;
        }

        .fc-icon-right-double-arrow:after {
            content: "\BB";
            font-size: 160%;
            top: -7%;
        }

        .fc-icon-left-triangle:after {
            content: "\25C4";
            font-size: 125%;
            top: 3%;
        }

        .fc-icon-right-triangle:after {
            content: "\25BA";
            font-size: 125%;
            top: 3%;
        }

        .fc-icon-down-triangle:after {
            content: "\25BC";
            font-size: 125%;
            top: 2%;
        }

        .fc-icon-x:after {
            content: "\D7";
            font-size: 200%;
            top: 6%;
        }

        .fc-unthemed .fc-popover .fc-header .fc-close {
            color: #666;
            font-size: .9em;
            margin-top: 2px;
        }

        .fc-unthemed .fc-list-item:hover td {
            background-color: #f5f5f5;
        }

        .ui-widget .fc-disabled-day {
            background-image: none;
        }

        .fc-bootstrap3 .fc-time-grid .fc-slats table,
        .fc-bootstrap4 .fc-time-grid .fc-slats table,
        .fc-time-grid .fc-slats .ui-widget-content {
            background: 0 0;
        }

        .fc-popover > .ui-widget-header + .ui-widget-content {
            border-top: 0;
        }

        .fc-bootstrap3 hr.fc-divider,
        .fc-bootstrap4 hr.fc-divider {
            border-color: inherit;
        }

        .ui-widget .fc-event {
            color: #fff;
            font-weight: 400;
        }

        .ui-widget td.fc-axis {
            font-weight: 400;
        }

        .fc.fc-bootstrap3 a[data-goto]:hover {
            text-decoration: underline;
        }

        .fc.fc-bootstrap4 a {
            text-decoration: none;
        }

            .fc.fc-bootstrap4 a[data-goto]:hover {
                text-decoration: underline;
            }

        /*.main-panel > .content {
            margin-top: 15px !important;
            padding: 30px 15px;
            min-height: calc(100vh - 123px);
        }*/

        .fc-bootstrap4 a.fc-event:not([href]):not([tabindex]) {
            color: #fff;
        }

        .fc-bootstrap4 .fc-popover.card {
            position: absolute;
        }

        .fc-toolbar.fc-header-toolbar {
            margin-bottom: 1em;
        }

        .fc-toolbar.fc-footer-toolbar {
            margin-top: 1em;
        }

        .fc-toolbar .fc-left {
            float: left;
        }

        .fc-toolbar .fc-right {
            float: right;
        }

        .fc .fc-toolbar > * > * {
            float: left;
            margin-left: .75em;
        }

        .fc .fc-toolbar > * > :first-child {
            margin-left: 0;
        }

        .fc-toolbar h2 {
            margin: 0;
            font-size: 1.75em;
        }

        .fc-toolbar button {
            position: relative;
        }

        .fc-toolbar .fc-state-hover,
        .fc-toolbar .ui-state-hover {
            z-index: 2;
        }

        .fc-toolbar .fc-state-down {
            z-index: 3;
        }

        .fc-toolbar .fc-state-active,
        .fc-toolbar .ui-state-active {
            z-index: 4;
        }

        .fc-toolbar button:focus {
            z-index: 5;
        }

        .fc-view-container *,
        .fc-view-container :after,
        .fc-view-container :before {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        .fc-view,
        .fc-view > table {
            position: relative;
            z-index: 1;
        }

        .fc-basicDay-view .fc-content-skeleton,
        .fc-basicWeek-view .fc-content-skeleton {
            padding-bottom: 1em;
        }

        .fc-basic-view .fc-body .fc-row {
            min-height: 4em;
        }

        .fc-row.fc-rigid .fc-content-skeleton {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        .fc-day-top.fc-other-month {
            opacity: .3;
        }

        .fc-basic-view .fc-day-number,
        .fc-basic-view .fc-week-number {
            padding: 2px;
        }

        .fc-basic-view th.fc-day-number,
        .fc-basic-view th.fc-week-number {
            padding: 0 2px;
        }

        .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
            float: right;
        }

        .fc-rtl .fc-basic-view .fc-day-top .fc-day-number {
            float: left;
        }

        .fc-ltr .fc-basic-view .fc-day-top .fc-week-number {
            float: left;
            border-radius: 0 0 3px;
        }

        .fc-rtl .fc-basic-view .fc-day-top .fc-week-number {
            float: right;
            border-radius: 0 0 0 3px;
        }

        .fc-basic-view .fc-day-top .fc-week-number {
            min-width: 1.5em;
            text-align: center;
            background-color: #f2f2f2;
            color: grey;
        }

        .fc-basic-view td.fc-week-number > * {
            display: inline-block;
            min-width: 1.25em;
        }

        .fc-agenda-view .fc-day-grid {
            position: relative;
            z-index: 2;
        }

            .fc-agenda-view .fc-day-grid .fc-row {
                min-height: 3em;
            }

                .fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
                    padding-bottom: 1em;
                }

        .fc .fc-axis {
            vertical-align: middle;
            padding: 0 4px;
            white-space: nowrap;
        }

        .fc-ltr .fc-axis {
            text-align: right;
        }

        .fc-rtl .fc-axis {
            text-align: left;
        }

        .fc-time-grid,
        .fc-time-grid-container {
            position: relative;
            z-index: 1;
        }

        .fc-time-grid {
            min-height: 100%;
        }

            .fc-time-grid table {
                border: 0 hidden transparent;
            }

            .fc-time-grid > .fc-bg {
                z-index: 1;
            }

            .fc-time-grid .fc-slats,
            .fc-time-grid > hr {
                position: relative;
                z-index: 2;
            }

            .fc-time-grid .fc-content-col {
                position: relative;
            }

            .fc-time-grid .fc-content-skeleton {
                position: absolute;
                z-index: 3;
                top: 0;
                left: 0;
                right: 0;
            }

            .fc-time-grid .fc-business-container {
                position: relative;
                z-index: 1;
            }

            .fc-time-grid .fc-bgevent-container {
                position: relative;
                z-index: 2;
            }

            .fc-time-grid .fc-highlight-container {
                z-index: 3;
                position: relative;
            }

            .fc-time-grid .fc-event-container {
                position: relative;
                z-index: 4;
            }

            .fc-time-grid .fc-now-indicator-line {
                z-index: 5;
            }

            .fc-time-grid .fc-helper-container {
                position: relative;
                z-index: 6;
            }

            .fc-time-grid .fc-slats td {
                height: 1.5em;
                border-bottom: 0;
            }

            .fc-time-grid .fc-slats .fc-minor td {
                border-top-style: dotted;
            }

            .fc-time-grid .fc-highlight {
                position: absolute;
                left: 0;
                right: 0;
            }

        .fc-ltr .fc-time-grid .fc-event-container {
            margin: 0 2.5% 0 2px;
        }

        .fc-rtl .fc-time-grid .fc-event-container {
            margin: 0 2px 0 2.5%;
        }

        .fc-time-grid .fc-bgevent,
        .fc-time-grid .fc-event {
            position: absolute;
            z-index: 1;
        }

        .fc-time-grid .fc-bgevent {
            left: 0;
            right: 0;
        }

        .fc-v-event.fc-not-start {
            border-top-width: 0;
            padding-top: 1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .fc-v-event.fc-not-end {
            border-bottom-width: 0;
            padding-bottom: 1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .fc-time-grid-event.fc-selected {
            overflow: visible;
        }

            .fc-time-grid-event.fc-selected .fc-bg {
                display: none;
            }

        .fc-time-grid-event .fc-content {
            overflow: hidden;
        }

        .fc-time-grid-event .fc-time,
        .fc-time-grid-event .fc-title {
            padding: 0 1px;
        }

        .fc-time-grid-event .fc-time {
            font-size: .85em;
            white-space: nowrap;
        }

        .fc-time-grid-event.fc-short .fc-content {
            white-space: nowrap;
        }

        .fc-time-grid-event.fc-short .fc-time,
        .fc-time-grid-event.fc-short .fc-title {
            display: inline-block;
            vertical-align: top;
        }

            .fc-time-grid-event.fc-short .fc-time span {
                display: none;
            }

            .fc-time-grid-event.fc-short .fc-time:before {
                content: attr(data-start);
            }

            .fc-time-grid-event.fc-short .fc-time:after {
                content: "\A0-\A0";
            }

        .fc-time-grid-event.fc-short .fc-title {
            font-size: .85em;
            padding: 0;
        }

        .fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
            left: 0;
            right: 0;
            bottom: 0;
            height: 8px;
            overflow: hidden;
            line-height: 8px;
            font-size: 11px;
            font-family: monospace;
            text-align: center;
            cursor: s-resize;
        }

            .fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
                content: "=";
            }

        .fc-time-grid-event.fc-selected .fc-resizer {
            border-radius: 5px;
            border-width: 1px;
            width: 8px;
            height: 8px;
            border-style: solid;
            border-color: inherit;
            background: #fff;
            left: 50%;
            margin-left: -5px;
            bottom: -5px;
        }

        .fc-time-grid .fc-now-indicator-line {
            border-top-width: 1px;
            left: 0;
            right: 0;
        }

        .fc-time-grid .fc-now-indicator-arrow {
            margin-top: -5px;
        }

        .fc-ltr .fc-time-grid .fc-now-indicator-arrow {
            left: 0;
            border-width: 5px 0 5px 6px;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        .fc-rtl .fc-time-grid .fc-now-indicator-arrow {
            right: 0;
            border-width: 5px 6px 5px 0;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        .fc-event-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }

        .fc-rtl .fc-list-view {
            direction: rtl;
        }

        .fc-list-view {
            border-width: 1px;
            border-style: solid;
        }

        .fc .fc-list-table {
            table-layout: auto;
        }

        .fc-list-table td {
            border-width: 1px 0 0;
            padding: 8px 14px;
        }

        .fc-list-table tr:first-child td {
            border-top-width: 0;
        }

        .fc-list-heading {
            border-bottom-width: 1px;
        }

            .fc-list-heading td {
                font-weight: 700;
            }

        .fc-ltr .fc-list-heading-main {
            float: left;
        }

        .fc-ltr .fc-list-heading-alt,
        .fc-rtl .fc-list-heading-main {
            float: right;
        }

        .fc-rtl .fc-list-heading-alt {
            float: left;
        }

        .fc-list-item.fc-has-url {
            cursor: pointer;
        }

        .fc-list-item-marker,
        .fc-list-item-time {
            white-space: nowrap;
            width: 1px;
        }

        .fc-ltr .fc-list-item-marker {
            padding-right: 0;
        }

        .fc-rtl .fc-list-item-marker {
            padding-left: 0;
        }

        .fc-list-item-title a {
            text-decoration: none;
            color: inherit;
        }

            .fc-list-item-title a[href]:hover {
                text-decoration: underline;
            }

        .fc-list-empty-wrap2 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .fc-list-empty-wrap1 {
            width: 100%;
            height: 100%;
            display: table;
        }

        .fc-list-empty {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .fc-unthemed .fc-list-empty {
            background-color: #eee;
        }

        .fc-time-grid-event .fc-content .fc-title {
            word-wrap: normal !important;
        }
    </style>

    <script src='~/Content/assets/packages/core/main.js'></script>
    <script src='~/Content/assets/packages/interaction/main.js'></script>
    <script src='~/Content/assets/packages/daygrid/main.js'></script>
    <script src='~/Content/assets/packages/timegrid/main.js'></script>
    <script src='~/Content/assets/packages/list/main.js'></script>
    <script src='~/Content/assets/packages/cal.js'></script>

    <script>
        function filterGlobal() {

            $('#datatable').DataTable().search(
                $('#global_filter').val(), false, true
                /*$('#global_regex').prop('checked'),
                $('#global_smart').prop('checked')*/
            ).draw();
        }
        $(document).ready(function () {

            $.get('@Url.Action("GetNotifications","AspNetPushNotifications")', function (data) {
                debugger

                if (data.length == 0) {
                    $('#Notification_Numbers').html('0');
                }
                else {
                    $('#Notification_Numbers').html(data.length);
                }

                $('#Notification_Header').html('You have ' + data.length + ' unread notifications');
                $.each(data, function (i, item) {
                    // item.Message = item.Message.substring(0, 10);
                    //item.Message = item.Message + "...";
                    // $('#notification_Dropdown_area').append('<li><a href="/AspNetPushNotifications/Details?id=' + item.Id + '"><p>' + item.Message + '</p></a></li>');
                    $('#Notification_Dropdown_Area').append('<li><a href="/AspNetPushNotifications/Details?id=' + item.Id + '"> ' + item.Description + '</a></li>')

                });
            });

            $("#datatable_filter").hide();

            $.post(
                "/AspNetUser/GetProfilePic",
                $(".changepassword-form").serialize(),
                function (data) {

                    $('#theDiv').prepend('<img id="theImg" height ="45" width = "45" src="/Content/Images/StudentImages/' + data + '" />')



                },
                "text"
            );
            //empty


        });//End of Document Ready
        $(document).ready(function () {


            $().ready(function () {



                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });

        });
    </script>

    @*<script>
            function filterGlobal() {

                $('#datatable').DataTable().search(
                    $('#global_filter').val(), false, true
                    /*$('#global_regex').prop('checked'),
                    $('#global_smart').prop('checked')*/
                ).draw();
            }
            $(document).ready(function () {

                $('#datatable').DataTable({
                    buttons: [
                        {
                            text: '<span class="datatableButtonsReset"> <img src="~/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                        },
                        {
                            text: '<span class="datatableButtonsEdit"> <img src="~/Content/assets/assets/icons/Icon-edit.png" alt=""> Edit</span>'
                        },
                        {
                            text: '<span class="datatableButtonsDelete"> <img src="~/Content/assets/assets/icons/Icon-bin.png" alt=""> Delete</span>'
                        },
                        {
                            text: '<span class="datatableButtonsDownload"> <img src="~/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                        }
                    ],
                    "language": {
                        "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                            "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                            "  </div>\n" +
                            "  </div>",
                        "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                        "paginate": {
                            "first": "Firstt",
                            "last": "Lastt",
                            "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                            "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                        }
                    },
                    "searching": true,
                    // dom: '<"class">Blfrtip',
                    dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                        "<'row'<'col-sm-12 datatablesData'tr>>" +
                        "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
                });
                $('input#global_filter').on('keyup click', function () {
                    filterGlobal();
                });
            });
            $(document).ready(function () {
                $().ready(function () {

                    $sidebar = $('.sidebar');

                    $sidebar_img_container = $sidebar.find('.sidebar-background');

                    $full_page = $('.full-page');

                    $sidebar_responsive = $('body > .navbar-collapse');

                    window_width = $(window).width();

                    fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                    if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                        if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                            $('.fixed-plugin .dropdown').addClass('open');
                        }

                    }

                    $('.fixed-plugin a').click(function (event) {
                        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                        if ($(this).hasClass('switch-trigger')) {
                            if (event.stopPropagation) {
                                event.stopPropagation();
                            } else if (window.event) {
                                window.event.cancelBubble = true;
                            }
                        }
                    });

                    $('.fixed-plugin .active-color span').click(function () {
                        $full_page_background = $('.full-page-background');

                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data-color', new_color);
                        }

                        if ($full_page.length != 0) {
                            $full_page.attr('filter-color', new_color);
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.attr('data-color', new_color);
                        }
                    });

                    $('.fixed-plugin .background-color .badge').click(function () {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('background-color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data-background-color', new_color);
                        }
                    });

                    $('.fixed-plugin .img-holder').click(function () {
                        $full_page_background = $('.full-page-background');

                        $(this).parent('li').siblings().removeClass('active');
                        $(this).parent('li').addClass('active');


                        var new_image = $(this).find("img").attr('src');

                        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                            $sidebar_img_container.fadeOut('fast', function () {
                                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                                $sidebar_img_container.fadeIn('fast');
                            });
                        }

                        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                            $full_page_background.fadeOut('fast', function () {
                                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                                $full_page_background.fadeIn('fast');
                            });
                        }

                        if ($('.switch-sidebar-image input:checked').length == 0) {
                            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                        }
                    });

                    $('.switch-sidebar-image input').change(function () {
                        $full_page_background = $('.full-page-background');

                        $input = $(this);

                        if ($input.is(':checked')) {
                            if ($sidebar_img_container.length != 0) {
                                $sidebar_img_container.fadeIn('fast');
                                $sidebar.attr('data-image', '#');
                            }

                            if ($full_page_background.length != 0) {
                                $full_page_background.fadeIn('fast');
                                $full_page.attr('data-image', '#');
                            }

                            background_image = true;
                        } else {
                            if ($sidebar_img_container.length != 0) {
                                $sidebar.removeAttr('data-image');
                                $sidebar_img_container.fadeOut('fast');
                            }

                            if ($full_page_background.length != 0) {
                                $full_page.removeAttr('data-image', '#');
                                $full_page_background.fadeOut('fast');
                            }

                            background_image = false;
                        }
                    });

                    $('.switch-sidebar-mini input').change(function () {
                        $body = $('body');

                        $input = $(this);

                        if (md.misc.sidebar_mini_active == true) {
                            $('body').removeClass('sidebar-mini');
                            md.misc.sidebar_mini_active = false;

                            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                        } else {

                            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                            setTimeout(function () {
                                $('body').addClass('sidebar-mini');

                                md.misc.sidebar_mini_active = true;
                            }, 300);
                        }

                        // we simulate the window Resize so the charts will get updated in realtime.
                        var simulateWindowResize = setInterval(function () {
                            window.dispatchEvent(new Event('resize'));
                        }, 180);

                        // we stop the simulation of Window Resize after the animations are completed
                        setTimeout(function () {
                            clearInterval(simulateWindowResize);
                        }, 1000);

                    });
                });

            });
        </script>*@
</body>

</html>